<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:text-decoration-line="http://www.w3.org/1999/xhtml"
      xmlns:text-decoration="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotlight</title>
    <link rel="stylesheet" th:href="@{/main.css}">
    <link rel="stylesheet" th:href="@{/nav.css}">

</head>
<body>
    <div th:replace="~{nav.html :: navbar}"></div>


    <div class="main page-wrapper">
        <div class="main-wrapper">
            <div class="main-content" th:each="i : ${items}">
                <a th:href="@{ '/detail/' + ${i.id} }" style="text-decoration: none">
                    <div class="content-image">
                        <img src="https://placehold.co/300">
                    </div>
                    <div class="content-info">
                        <h4 th:text="${i.title}">바지</h4>
                        <p th:text="${#numbers.formatInteger(i.price, 3, 'COMMA')} + '원'">100만원</p>
                        <p th:text="${i.brand}">브랜드</p>

<!--                        메인페이지에서 삭제는 관리자 권한으로 넘기고-->
<!--                        상세페이지에서만 유저가 삭제할 수 있도록 만드셈-->
<!--                        쿼리 스트링 형식으로 보냄-->
<!--                        <span th:onclick="fetch('/item?id=[[${i.id}]]', { method : 'DELETE' })-->
<!--                            .then(r => r.text())-->
<!--                            .then(() => {-->
<!--                                location.reload();-->
<!--                            })-->
<!--                        ">🗑️</span>-->


<!--                        JSON 형식으로 보냄-->
                        <span th:onclick="deleteItem([[${i.id}]])">🗑️</span>
                        <script>
                            function deleteItem(itemId) {
                                fetch('/item', {
                                    method : 'DELETE',
                                    headers : { 'Content-Type' : 'application/json' },
                                    body : JSON.stringify({ id: itemId })
                                })
                                .then(r => r.text())
                                .then(() => {
                                    location.reload();
                                })
                            }
                        </script>

                    </div>
                </a>
            </div>

        </div>
    </div>


</body>
</html>
